table, th, td {
    font-size: 30px;
    border: 1px solid black;
    border-collapse: collapse;
}

td, th {
    padding: 5px 20px;
}

h3 {
    font-size: 30px;
    padding-left: 50px;
}

pre {
    font-size: 20px;
}